.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.book-form {
    background-color: red;
    border: 2px dotted black;

    display: flex;
    flex-flow: column wrap;
}

.book-shelf {
    display: grid;

    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
}

.book {
    background-color: green;
    border: 2px dotted blue;
}

form {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}